{% extends 'lab4_base.html' %}

{% block content %}
<h1 class="text-center mb-5">List of Messages 💌</h1>

<div class="border rounded border-bottom-0">
  <table class="table table-striped">
    <thead style="background-color: #FEDB2C;">
      <tr style="color: #3A1C03;">
        <th scope="col">No</th>
        <th scope="col">To</th>
        <th scope="col">From</th>
        <th scope="col">Title</th>
        <th scope="col">Messages</th>
      </tr>
    </thead>
    <tbody>
      {% for note in notes %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{note.untuk}}</td>
        <td>{{note.dari}}</td>
        <td>{{note.judul}}</td>
        <td>{{note.pesan}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}