{% extends 'lab4_base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center mb-5">Note Lists 📬</h1>

<div class="d-flex flex-wrap justify-content-center">
    {% for notes in notes %}
    <div class="col-12 col-lg-5 card mb-3 shadow rounded-3 d-flex flex-row mx-2">
        <div class="p-4" style="background-color: #FEDB2C;width: 35%;">
            <h6 style="color: #3A1C03;" class="fw-bold text">From: {{notes.dari}}</h6>
            <h6 style="color: #3A1C03;" class="fw-bold">To: {{notes.untuk}}</h6>
        </div>
        <div style="width: 65%;" class="p-4">
            <h5> {{notes.judul}} </h5>
            <p>"{{notes.pesan}}"</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}