{% extends 'lab4_base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mb-5">Write Your Note! 📝</h1>

<div class="d-flex align-items-center flex-lg-row flex-column-reverse">

    <form action="" method="post" class="col-8">
        {% csrf_token %}
        <div class="mb-3">
            <label for="untuk" class="form-label">To :</label>
            {{ form.untuk }}
        </div>
        <div class="mb-3">
            <label for="dari" class="form-label">From :</label>
            {{ form.dari }}
        </div>
        <div class="mb-3">
            <label for="judul" class="form-label">Title :</label>
            {{ form.judul }}
        </div>
        <div class="mb-3">
            <label for="pesan" class="form-label">Messages :</label>
            {{ form.pesan }}
        </div>
        <button type="submit" class="btn btn-primary border-0 fw-bold" style="background-color: #FEDB2C; color: #3A1C03;" >Submit</button>
    </form>
    <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="{% static 'lab_4/pika.png' %}" alt="pikachu">
    </div>
</div>



{% endblock content %}