<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friend</title>
</head>

<body>
    <header>
        <h1>Add Friend</h1>
    </header>
    <section>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="name">Name</label>
                {{ form.name }}
            </div>
            <div>
                <label for="npm">npm</label>
                {{ form.npm }}
            </div>
            <div>
                <label for="dob">Date of Birth</label>
                {{ form.dob }}
            </div>
            <button>Add Friend</button>
        </form>
    </section>
</body>

</html>