<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Friend List</title>
</head>

<body bgcolor="ffeee8">
  <h1 style="font-size: xx-large;" align="center">Friend List ヾ(•ω•`)o</h1>
  <table align="center" style="width: 50%;" border="1 px">
    <tr style="background-color: #C08F73;">
      <th style="width: 33.3%;">Name</th>
      <th style="width: 33.3%;">NPM</th>
      <th style="width: 33.3%;">DOB</th>
    </tr>

    {% for friend in friends %}
    <tr style="background-color: #E8CAB3;">
      <td>{{friend.name}}</td>
      <td>{{friend.npm}}</td>
      <td>{{friend.dob}}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <div align="center">
  <a href="{% url 'lab_3:add_friend' %}">
    <button>
      Add Friend
    </button>
  </a>
  </div>
</body>
</html>