<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 2</title>
    <h1 style="font-size: xx-large;" align="center">💌 List of Messages 💌</h1>
</head>
<body bgcolor="ffeee8">
    <table align="center" style="width: 50%;" border="1 px">
        <tr style="background-color: #C08F73;">
          <th style="width: 12.5%;">To</th>
          <th style="width: 12.5%;">From</th>
          <th style="width: 25%;">Title</th>
          <th style="width: 50%;">Messages</th>
        </tr>
        
        {% for note in notes %}
        <tr style="background-color: #E8CAB3;">
          <td>{{note.untuk}}</td>
          <td>{{note.dari}}</td>
          <td>{{note.judul}}</td>
          <td>{{note.pesan}}</td>
        </tr>
        {% endfor %}
</body>
</html>