<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>
  </head>
  <body bgcolor="black">
    <div align="center">
    <h1 style="color: white;">Hello my name is {{ name }}</h1>
    <article style="color: white;">NPM : {{ npm }}</article>
    <article style="color: white;">I am {{ age }} years old</article>
    <br>
    <img src="https://i.redd.it/gh90i7i1pk531.jpg"  width="500" height="600">
  </div>
  </body>
</html>
